{% extends 'base.html.twig' %}

{% block title %}Mon compte - GymPec{% endblock %}

{% block content %}

    <h1 class="text-center">Mon compte</h1>
    <p class="text-center">
        Bonjour <strong>{{ app.user.firstname }}</strong><br> Bienvenue sur votre compte.
    </p>

    <div class="container">
      <div class="row ml-5">
        <div clas="col-md-6">
          <div class="m-3 info text-center text-uppercase border border-dark " style="background-color: #f1f2f6; padding: 40px;">
            {% if is_granted('ROLE_TECHNICIAN') %}
              <a href="/admin"> Administration du site </a> <br><br>
            {% endif %}
          </div>
        </div>
        <div clas="col-md-6">
          <div class="m-3 text-center text-uppercase border border-dark " style="background-color: #f1f2f6; padding: 40px;">
            {% if is_granted('ROLE_ADMIN') %}
              <a href="admin/partenaire"> Création d'un partenaire </a> <br><br>
            {% endif %}
          </div>
        </div>
        <div clas="col-md-6">
          <div class="m-3 text-center text-uppercase border border-dark " style="background-color: #f1f2f6; padding: 40px;">
            {% if is_granted('ROLE_PARTNER') %}
              <a href="/admin/structure">Création d'une structure </a> <br><br>
            {% endif %}
          </div>
        </div>
      </div>

      <br> <hr> <br>

        <h2 class="text-center">Modifier mes informations</h2> <br>
            <div class="m-2 text-center text-uppercase border border-dark " style="background-color: #f1f2f6; padding: 40px;">
                <a href="{{ path('app_account_password') }}">Modifier mon mot de passe </a>
            </div>
    </div>
{% endblock %}


