{% extends 'base.html.twig' %}

{% block content %}
  <h1 class="text-center" > Création d'un partenaire </h1>
  <div class="my-4 text-center">
    <a href="http://127.0.0.1:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CPartenaireCrudController&menuIndex=1&submenuIndex=-1"> 
      Acceder a votre compte partenaire
    </a>
  </div>

  {% if notif %}
        <div class="alert alert-info">
        {{ notif }}
        </div>
    {% endif %} 


  {{ form(form) }}<br><br>

{% endblock %}
  
