{% extends 'base.html.twig' %}

{% block content %}
  <h1 class="text-center"> Inscription </h1>
    <div class="my-4 text-center">
      <a href="{{ path('app_login') }}">Vous avez déjà un compte?</a>
    </div>

  {% if notif %}
        <div class="alert alert-info">
        {{ notif }}
        </div>
    {% endif %} 


  {{ form(form) }}<br><br>

{% endblock %}
  

